/*********** Custom styles ***********/

/* For select2's multiple selected items*/
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    color: #000000;
}

.gallery-mine {
    margin: 10px 50px;
}

.gallery-img-mine {
    width: 230px;
    padding: 10px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 0.5s;
}

.gallery-img-mine:hover {
    transform: scale(1.1);
}

.modal-content-mine {
    background-color: transparent !important;
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
}

.modal-header-mine {
    padding: 15px !important;
}

.modal-dialog-mine {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.blur-contents-mine {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}